@font-face {
    font-family: 'open sans';
    src: local('OpenSans Light'), local('OpenSans-Light'), 
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');    
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'open sans';
    src: local('OpenSans Regular'), local('OpenSans-Regular'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
         url('../fonts/gilroylight-webfont.woff2') format('woff2'),
         url('../fonts/gilroylight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
         url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

body {
    margin: 0;
    padding:0;

    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);

    background-color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* ------- HEADER STYLES ---------- */

.main-header {
    color: rgba(0,0,0,1);
}

.main-header .header-wrapper {
    background: rgba(240, 197, 46, 0.5);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 40px, rgba(247, 226, 150, 1) 40px, rgba(247, 226, 150, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 40px, rgba(247, 226, 150, 1) 40px, rgba(247, 226, 150, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 40px, rgba(247, 226, 150, 1) 40px, rgba(247, 226, 150, 1) 100%);
}

.header-wrapper>a:not(.inactive):hover,
.header-wrapper>a:not(.inactive):focus {

    opacity: 0.6;
}

.header-wrapper>a:not(.inactive):active {
    opacity: 0.3;
}


.header-user-tabs {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;

    list-style: none;

}

.header-search input {
    position: relative;
    font: inherit;
    margin-left: 40px;
    width: 315px;

    border: none;
    background-color: transparent;

}



.header-user-tabs li,
.header-user-tabs a {
    position: relative;
}

.header-user-tabs li:first-child::before {

    position: absolute;

    content: '';
    top: 8px;
    left: 4px;

    width: 16px;
    height: 16px;

    background-image: url('../img/header/search.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-user-tabs a {
    display: block;
    padding-left: 25px;

}

.header-user-tabs .log-in::before,
.header-user-tabs .user-name-header::before {

    position: absolute;

    content: '';
    top: 9px;
    left: 0px;

    width: 13px;
    height: 12px;

    background-image: url('../img/header/userpic-header.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-user-tabs .compare::before {
    position: absolute;

    content: '';
    top: 10px;
    left: 3px;

    width: 13px;
    height: 12px;

    background-image: url('../img/header/compare-header.svg');
    background-repeat: no-repeat;
    background-position: 0 0;

}

.header-user-tabs .cart::before {
    position: absolute;

    content: '';
    top: 8px;
    left: 3px;

    width: 13px;
    height: 12px;

    background-image: url('../img/header/cart-header.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}



.header-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3);
}
.header-search input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3);
}
.header-search input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.3);
}
.header-search input:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:hover::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.6);
}
.header-search input:hover::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.6);
}
.header-search input:hover:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.6);
}
.header-search input:hover:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:focus::-webkit-input-placeholder:focus { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 1);
}
.header-search input:focus::-moz-placeholder:focus { /* Firefox 19+ */
  color: rgba(0, 0, 0, 1);
}
.header-search input:focus:-ms-input-placeholder:focus { /* IE 10+ */
  color: rgba(0, 0, 0, 1);
}
.header-search input:focus:-moz-placeholder:focus { /* Firefox 18- */
  color: rgba(0, 0, 0, 1);
}

.header-search button {
    
    position: absolute;
    top: -3px;
    right: -65px;
    padding-left: 10px;
    padding-right: 10px;

    font: inherit;
    color: rgba(0, 0, 0, 1);

    border: 2px solid rgba(0, 0, 0, 1);
    background-color: transparent;

    display: none;
}


.header-search input:focus ~ button,
.header-search input ~ button:active {
    
    display: block;
}

.header-search input:focus ~ button:hover,
.header-search input:focus ~ button:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}

.header-search input ~ button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 1);
}

.header-search button::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 60px;

    width: 360px;
    height: 2px;

    background-color: rgba(0, 0, 0, 1);
}


.header-user-tabs a {
    color: rgba(0, 0, 0, 1);
}

.header-user-tabs a:hover,
.header-user-tabs a:focus,
.header-user-tabs li a:hover::before,
.header-user-tabs li a:focus::before {
    opacity: 0.6;
}

.header-user-tabs a:active,
.header-user-tabs li a:active::before {
    opacity: 0.3;
}

.header-user-tabs .log-out {
    color: rgba(0, 0, 0, 0.3);
}

.site-nav,
.catalogue-menu {
    list-style: none;
}

.site-nav>li>a {
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.site-nav>li>a:hover,
.site-nav>li>a:focus,
.catalogue-menu a:hover,
.catalogue-menu a:focus  {
    color: rgba(0, 0, 0, 0.6);
}

.site-nav>li>a:active,
.catalogue-menu a:active  {
    color: rgba(0, 0, 0, 0.3);
}


.catalogue-menu a {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 1);
}

/*  ---------------------------header grid--------------  */

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


main {
    margin-top: 40px;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.main-header {
    width: 100%;
}

.main-header .logo {
    display: block;
    width: 164px;
    heigth: 36px;
    padding-top: 20px;
   
    margin-bottom: 20px;


}


.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    min-height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-right: 60px;
    padding-left: 60px;

    background: rgba(240, 197, 46, 0.5);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 40px, rgba(247, 226, 150, 1) 40px, rgba(247, 226, 150, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 40px, rgba(247, 226, 150, 1) 40px, rgba(247, 226, 150, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 40px, rgba(247, 226, 150, 1) 40px, rgba(247, 226, 150, 1) 100%);
}



.header-user-tabs {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
}



.header-user-tabs li:first-child {
    font-size: 0;
    margin-right: auto;

} 

.header-user-tabs form {
    font-size: 15px;
    margin-right: 0;
}

.unknown-guest li:nth-child(2) {
    margin-right: 215px;
}

.unknown-guest li:nth-child(3) {
    margin-right: 35px;
   
}

.authorized-user li:nth-child(3) {
    margin-right: 55px;
}

.authorized-user li:nth-child(4) {
   margin-right: 40px;
}



.site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin:0;
    margin-bottom: 10px;
    padding: 0;
    min-height: 175px;

}

.site-nav>li {
}

.site-nav a {
    padding: 0;
    margin: 0;
}

.site-nav>li:first-child {
    position: relative;
    padding-right: 30px;
    margin-right: auto;
}

.site-nav>li:first-child::before {
    position: absolute;

    content: '';
    top: 2px;
    right: 2px;

    width: 16px;
    height: 16px;

    background-image: url('../img/header/plus.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}


.site-nav li:nth-child(3) {
    margin-right: 103px;
}

.site-nav li:nth-child(2) {
    margin-right: 35px;
}


.catalogue-menu.need-hover {
    display: none;
    
}

.open-catalogue:hover .need-hover,
.open-catalogue:focus .need-hover {

    position: absolute;
    top: 25px;
    left: -60px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 1160px;
    height: 160px;

    margin: 0;
    padding:0;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 11px;

    list-style: none;
    z-index: 20;
    background-color: rgba(247, 226, 150, 1);
}

.catalogue-menu.need-hover > li {
    width: 200px;
    margin-right: 40px;
    max-height: 100px;
    white-space: nowrap;
}

.catalogue-menu.need-hover > li:nth-child(2) {
    width: 160px;
}

.catalogue-menu.need-hover > li:last-child {
    width: 130px;
}


.need-hover ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



/*  -------------------------INNER CATALOGUE PAGE------------------- */

.container {
    margin-top: -110px;
}

.container-content-wrapper {
    margin-left: 60px;
    
}

.container .header-overflow {
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.container h1 {
    font-size: 47.5px;
    font-weight: 800;
    line-height: 47.5px;
    letter-spacing: 0.48px;
    color: rgba(0, 0, 0, 1);

    margin:0;
    padding:0;
    padding-top: 35px;
    margin-bottom: 25px;
}

.container h2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    
    color: rgba(0, 0, 0, 1);

    margin:0;
    padding:0;
}

.container-inner-page h2 {
    text-transform: uppercase;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
}

.breadcrumbs li {
    margin-right: 40px;
    position: relative;
}

.breadcrumbs a::before {
    content: '';

    position: absolute;
    bottom: 7px;
    right: -20px;

    width: 4px;
    height: 7px;

    background-image: url('../img/catalogue/nav-arrow.svg');
    background-repeat: no-repeat;
    nackground-position: 0 0;
}



.breadcrumbs li,
.breadcrumbs a {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
    
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.bg-wrapper {
    position: relative;
}

.bg-wrapper::before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  content: "";

  right: 60%;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(219, 219, 219, 1) 70px, rgba(238, 238, 238, 1) 70px);
  background: -o-linear-gradient(top, rgba(219, 219, 219, 1) 70px, rgba(238, 238, 238, 1) 70px);
  background: linear-gradient(to bottom, rgba(219, 219, 219, 1) 70px, rgba(238, 238, 238, 1) 70px);
}

.bg-wrapper::after {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  content: "";

  right: 0;
  left:50%;
  background: -webkit-linear-gradient(top, rgba(235, 235, 235, 1) 70px, rgba(255, 255, 255, 1) 70px);
  background: -o-linear-gradient(top, rgba(235, 235, 235, 1) 70px, rgba(255, 255, 255, 1) 70px);
  background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 70px, rgba(255, 255, 255, 1) 70px);
}


.two-column-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: transparent;
}

.first-column-container {
    width: 268px;
    background-color: rgba(238, 238, 238, 1);
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    margin-right: 75px;


    width: 265px;
}


.filter form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-color: transparent;
}



.filter legend {
    position: relative;
    margin-bottom: 34px;
}

.filter legend::before {
    content: '';
    position: absolute;
    top: -13px;
    left: 0;

    width: 201px;
    height: 2px;

    background-color: rgba(0, 0, 0, 1);
}

.range-controls {
    position: relative;
    padding-left: 5px;
    margin-bottom: 16px;
}

.range-controls .scale {
    width: 196px;
    height: 2px;


    background-color: rgba(219, 219, 219, 1);
}

.range-controls .bar {
    width: 110px;
    height: 2px;

    background-color: rgba(145, 201, 47, 1);
}

.range-controls .toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255, 1);

    background-color: rgba(171, 171, 171, 1);
    -webkit-box-shadow: 0 1px 1px 0 rgba(219, 219, 219, 1);
            box-shadow: 0 1px 1px 0 rgba(219, 219, 219, 1);

    cursor: pointer;

}

.range-controls .toggle:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}


.range-controls .toggle-min {
    top: -9px;
    left: -4px;
}

.range-controls .toggle-max {
    top: -9px ;
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
    
    font-family: 'gilroy', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px ;
    letter-spacing: normal;
    width: 35%;

    color: rgba(0, 0, 0, 0.2);
}


.price-controls input {

    width: 40%;
    border: none;
    background-color: transparent;

    color: rgba(0, 0, 0, 0.2);

}


.filter-color ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}





.second-column-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 56px;
}

.catalogue-container {
    padding-left: 75px;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    
    margin-bottom: 70px;
    padding-top: 24px;
    padding-left: 75px;

    min-height: 70px;
    background: rgba(235, 235, 235, 1);
}

.sorting ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: transparent;
    list-style: none;
}

.sorting h2 {
    margin: 0;
    padding: 0;
    margin-right: 53px;
}

.sort-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 282px;
}

.sort-direction li:first-child {
    margin-right: 10px;
}

.sorting .sort-direction {
    margin-left: auto;
}

.sort-direction a {
    display: block;
    margin-top: 7px;
    font-size: 0;
    width: 10px;
    height: 10px;

    background-image: url('../img/catalogue/icon-up-dir.svg');
    background-repeat: no-repeat;
    background-position:  0 0;

    opacity: 0.2;
}

.sort-direction a:hover,
.sort-direction a:focus {
    opacity: 0.4;
}

.sort-direction a:active {
    opacity: 1;
}

.sort-direction .ascending {
    margin-right: 10px;
}

.sort-direction .descending {
    margin-right: 4px;
    background-image: url('../img/catalogue/icon-down-dir.svg');
}





/*  --------- FILTERS --------- */
.filter h2 {
    margin: 0;
    margin-bottom: 82px;
    padding: 0;
    padding-top: 24px;
    padding-left: 1px;
    background-color: rgba(219, 219, 219, 1);
    width: 268px;
    min-height: 70px;
    vertical-align: middle;
}


.filter-form ul {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 1);

    list-style: none;
}

.filter-form fieldset {
    letter-spacing: 0.18px;
    color: rgba(0, 0, 0, 1);
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 41px;
}


.filter-color label,
.filter-bluetooth label {
    position: relative;
}

.filter-color label::before {
    content: '';

    position: absolute;
    top: 8px;
    left: 0;

    width: 25px;
    height: 25px;

    background-image: url('../img/catalogue/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position:  0 0;
}

.filter-color input:checked + label::before {
    background-image: url('../img/catalogue/checkbox-on.svg');
}

.filter-color input:disabled + label::before {
    opacity: 0.25;
}



.filter-color label:hover::before,
.filter-color label:focus::before {
    opacity: 0.6;
}

.filter-color label:active::before {
    opacity: 1;
}


.filter-color-list input + label {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}


.filter-color-list input:hover + label,
.filter-color-list input:focus + label {
    color: rgba(0, 0, 0, 1);
}

.filter-color-list input:active + label {
    color: rgba(0, 0, 0, 1);
}

.filter-color-list input:disabled + label {
    color: rgba(166, 166, 166, 1);
    cursor: default;
}
.filter-color legend {
    margin-bottom: 17px;
}



.filter-color-list label {
    display: block;
    padding: 0;
    padding-left: 40px;
    margin: 0;
}

.filter-bluetooth legend {
    margin-bottom: 4px;
}






.filter-bluetooth label::before {
    content: '';

    position: absolute;
    top: -4px;
    left: -41px;

    width: 25px;
    height: 25px;

    background-color: rgba(255, 255, 255, 1);
    border: 4px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    
}

.filter-bluetooth input:checked + label::before {
    top: 0;
    left: -37px;

    width: 17px;
    height: 17px;
    background-color: rgba(0, 0, 0, 1);
    border: 4px solid rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 0 4px black;
            box-shadow: 0 0 0 4px black;

    
}

.filter-bluetooth input:disabled + label::before {
    opacity: 0.25;
    cursor: default;
}



.filter-bluetooth label:hover::before,
.filter-bluetooth label:focus::before {
    opacity: 0.6;
}

.filter-bluetooth label:active::before {
    opacity: 1;
}

.filter-bluetooth input + label {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}


.filter-bluetooth input:hover + label,
.filter-bluetooth input:focus + label {
    color: rgba(0, 0, 0, 1);
}

.filter-bluetooth input:active + label {
    color: rgba(0, 0, 0, 1);
}

.filter-bluetooth input:disabled + label {
    color: rgba(166, 166, 166, 1);
    cursor: default;
}


.filter-form button {
    margin-top: -40px;
    margin-left: 1px;
}



/*  ----------- SORTING------------- */


.sorting ul {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 1);

    list-style: none;
}

.sorting a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover,
.sorting a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
    color: rgba(0, 0, 0, 1);
}





/* -------------    ITEM CARDS ------------*/





.item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 0;
    margin: 0;
    margin-bottom: 14px;

    list-style: none;
}

.item-list li {
    position: relative;
    width: 360px;
    height: 465px;

    margin-bottom: 40px;
}


.item-list li:last-child,
.item-list li:nth-last-child(2) {
    margin-bottom: 0;
}

.item-list li:nth-child(2n) {
    margin-right: 0;
}

.item-list li.novelty {
    position:relative;
}

.item-list li.novelty::before {
    content: 'new';

    position: absolute;
    top: 30px;
    right: 30px;

    width: 60px;
    height: 60px;
    border-radius: 50%;

    
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 0.7px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);

    text-align: center;
    vertical-align: middle;


    border: 2px solid rgba(0, 0, 0, 0.2) ;

}



.item-list p,
.item-list a {
    letter-spacing: 0.18px;
    font-weigth: 800;
    color: rgba(0, 0, 0, 1);
} 

.item-list .item-price {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weigth: 300;
    letter-spacing: 0.16px;
    color:  rgba(70, 70, 70, 1);
}

.item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;

    padding-top: 12px;
}

.item-description a {
    width: 260px;
}

.item-description a:hover,
.item-description a:focus {
    opacity: 0.6;
}

.item-description a:active {
    opacity: 0.3;
}

.-item-list img {
    width: 360px;
    height: 380px;
}



.item-list li:hover, 
.item-list li:focus {
    cursor: pointer;
}


.item-actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 360px;
    height: 380px;

    background-color: rgba( 238, 238, 238, 0.7);

    cursor: pointer;
    z-index: 5;
}

.item-list li:hover .item-actions,
.item-list li:focus .item-actions {
    display: block;
}

.actions-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 174px;
}



.actions-wrapper .button {
    letter-spacing: 3.6px;
    margin-bottom: 14px;
}


.actions-wrapper .add-to-compare {
    font-family:'open sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.13px;
    test-align: center;
    vertical-align: middle;

    color: rgba(0, 0, 0, 0.5);

}

.actions-wrapper .add-to-compare:hover,
.actions-wrapper .add-to-compare:focus {
    color: rgba(0, 0, 0, 1);
}

.add-to-compare:active {
    color:rgba(0, 0, 0, 0.2);
}





/*   ----- PAGINATION -----------*/



.pagination {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 70px;
    margin-left: 75px;
    padding: 0;
    padding-top: 25px;
    padding-left: 29px;
    width: 760px;

    list-style: none;
    background-color: rgba(235, 235, 235,1);
}

.pagination-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin-right: 28px;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item:hover,
.pagination-item:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item:active {
    color: rgba(0, 0, 0, 1);
}

.page-current {
    color: rgba(0, 0, 0, 1);
}

.pagination li:last-child {
    margin-right: 0;
}

.page-forward,
.page-back {
    position: absolute;
    top: 0px;
    
    width: 126px;
    height: 70px;

    line-height: 70px;
    text-align: center;

    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.page-forward {
    right: -28px;
    padding-right: 12px;
}

.page-back {
    left: 0px;
}


.page-forward:hover,
.page-forward:focus,
.page-back:hover,
.page-back:focus {
    background-color: rgba(217, 217, 217, 1);

}

.page-forward:active,
.page-back:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(217, 217, 217, 1);

}


/* ------------ INDEX: SLIDERS-------------*/



.slider-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
}



.promo-slider {
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
}

.promo-slider .main-container {
    position: relative;
}

.promo-slider ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-controls {
    position: absolute;

    top: 322px;
    right: 85px;

    z-index: 10;
}

.slider-controls label {
    position: relative;
    display: inline-block;
    vertical-align: botttom;
  
    width: 11px;
    height: 11px;

    border-radius: 50%;

    margin-right: 18px;

    font-size: 0;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 1px black;
            box-shadow: 0 0 0 1px black;
}

.slider-controls label::before {
    position: absolute;
    top: 4px;
    left: 4px;

    content: '';

    width: 3px;
    height: 3px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 1px black;
            box-shadow: 0 0 0 1px black;
    display: none;
}




#slide-1:focus ~ .slider-controls label:first-child {
    outline: rgba(59, 153, 252, 1) auto 5px;
}

#slide-2:focus ~ .slider-controls label:nth-child(2) {
    outline: rgba(59, 153, 252, 1) auto 5px;
}

#slide-3:focus ~ .slider-controls label:last-child {
    outline: rgba(59, 153, 252, 1) auto 5px;
}

.promo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 1160px;
    padding-left: 90px;

}

.promo-item-left,
.promo-item-right {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}


.item-1 .promo-item-left {
    width: 384px;
    margin-right: 125px;
}

.item-1 img {
    width: 384px;
    height: 486px;
}

.promo-item-right {
    width: 560px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.promo-item b {
    position: relative;
    display: block;
    font-size: 47.5px;
    line-height: 56px;
    letter-spacing: 0.48px;
    padding: 0;
    margin: 0;
    padding-top: 80px;
    margin-bottom: 19px;
    z-index: 4;

}

.promo-item b::after {
    position: absolute;
    top: 38px;
    left: 0;

    content: '';

    width: 100px;
    height: 7px;

    background-color: rgba(255, 255, 255, 1);
}

.promo-item p::before {
    position: absolute;
    top: -12px;
    right: 150px;

    content: '01';

    width: 100px;
    height: 7px;
    font-family: Gilroy;
    font-size: 179px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 179px;
    letter-spacing: 1.79px;
    text-align: right;
    color: rgba(255, 255, 255, 1);

}


.promo-item p {
    display: block;
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;

    width: 490px;

    margin: 0;
    margin-bottom: 43px;
    padding: 0;
    
    color: rgba(70, 70, 70, 1);
    z-index: 3;
}

.promo-item .button {
    min-width: 220px;
    margin-bottom: 50px;

}

.promo-item table {
    margin-left: -3px;

}
.promo-item .table-value {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    color: rgba(0, 0, 0, 1);

}

.promo-item .table-heading {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    color: rgba(70, 70, 70, 1);

}
.table-heading td {
    padding-top: 8px;
}

.table-heading td:first-child {
    min-width: 157px;
}

.table-heading td:nth-child(2) {
    min-width: 137px;
}

.table-heading td:last-child {
    min-width: 160px;
}


.item-1 {
    margin-bottom: 98px;
}

.item-2 {
    width: 1160px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 117px;
    margin-bottom: 88px;
}

.item-3 {
    margin-bottom: 110px;
}

.item-2 img {
    width: 345px;
    height: 485px;
    margin-top: 11px;
}


.item-2 .promo-item-left {
    width: 345px;
    margin-right: 140px;
}

.item-2 p::before {
    position: absolute;
    top: -12px;
    right: 174px;

    content: '02';

    width: 100px;
    height: 7px;
    font-family: Gilroy;
    font-size: 179px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 179px;
    letter-spacing: 1.79px;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}

.item-3 img {
    width: 526px;
    height: 334px;
    margin-top: 65px;
}

.item-3 .promo-item-left {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 526px;
    margin: 0;
    margin-right: 42px;
    padding: 0;
    
}

.item-3 b {
    
}

.item-3 p::before {
    position: absolute;
    top: -12px;
    right: 176px;

    content: '03';

    width: 100px;
    height: 7px;
    font-family: Gilroy;
    font-size: 179px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 179px;
    letter-spacing: 1.79px;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    
}


.slider-list li {
    display: none;
}

#slide-1:checked ~ .slider-list #item-1, 
#slide-2:checked ~ .slider-list #item-2,
#slide-3:checked ~ .slider-list #item-3  {
    display: flex;
} 




#slide-1:checked ~ .slider-controls label:first-child::before,
#slide-2:checked ~ .slider-controls label:nth-child(2)::before,
#slide-3:checked ~ .slider-controls label:last-child::before  {
    display: block;
}





/* ------------ INDEX: POPULAR-------------*/

.popular ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    list-style: none;
}

.popular li {
    width: 160px;
    
}

.popular-1 img {
    width: 97px;
    height: 65px;
    position: absolute;
    top: 48px;
    left: 31px;
}

.popular-2 img {
    width: 86px;
    height: 117px;
    position: absolute;
    top: 42px;
    left: 38px;
}

.popular-3 img {
    width: 71px;
    height: 87px;
    position: absolute;
    top: 38px;
    left: 49px;
}

.popular-4 img {
    width: 107px;
    height: 65px;
    position: absolute;
    top: 50px;
    left: 28px;
}

.popular-5 img {
    width: 56px;
    height: 98px;
    position: absolute;
    top: 32px;
    left: 55px;
}

.popular-6 img {
    width: 132px;
    height: 69px;
    position: absolute;
    top: 49px;
    left: 14px;
}


.img-wrapper {
    position: relative;
    margin-bottom: 34px;
    width: 160px;
    height: 160px;
}


.popular a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    letter-spacing: 0.18px;
    color: black;

    width: 160px;
    height: 100%;
}


.popular-list span {
    display: block;
    position: relative;

}

.popular img {
    z-index: 2;
}

.img-wrapper::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;

    width: 160px;
    height: 160px;

    background-color: rgba(247, 227, 150, 1);
}




.popular-item:hover .img-wrapper::after,
.popular-item:focus .img-wrapper::after {
    background-color: rgba(240, 197, 46, 1);
}

.popular-item:active .img-wrapper::after {
    background-color: rgba(240, 197, 46, 1);
}

.popular-item:active img {
    opacity: 0.3;
}





/* ------------ INDEX: SERVICES-------------*/

.services-slider {
    padding-bottom: 119px;
    margin-bottom: 94px;

    background: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 103px, rgba(229, 229, 229, 1) 103px);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 103px, rgba(229, 229, 229, 1) 103px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 103px, rgba(229, 229, 229, 1) 103px);

}


.services-slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.services-slider-wrapper ul {
    
    margin:0;
    padding: 0;
    list-style: none;
}

.services-slider .services-controls {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    width: 280px;
    
    margin-right: 120px;
    padding-top: 83px;

}

.services-controls::before {
    position: absolute;
    top: 0;
    right: -4px;

    content: '';

    width: 8px;
    height: 320px;

    background-color: rgba(0, 0, 0, 1);
}

.services-controls button {
    min-width: 160px;
    text-align: left;
    margin-bottom: 23px;

}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services-list li {
    width: 760px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.services-list h3 {
    position: relative;
    letter-spacing: 0.48;
    font-size: 47.5px;
    line-height: 47.5px;
    color: rgba(0, 0, 0, 1);

    margin: 0;
    margin-top: 76px;
    margin-bottom: 32px;
    padding: 0;

}

.services-item:first-child h3::before {
    content: '';

    position: absolute;
    top: 11px;
    right: 66px;

    width: 136px;
    height: 164px;

    background-image: url('../img/index/delivery.svg');
    background-repeat: no-repeat;
    background-position:  0 0;


}

.services-item:nth-child(2) h3::before {
    content: '';

    position: absolute;
    top: -14px;
    right: 47px;

    width: 171px;
    height: 195px;

    background-image: url('../img/index/warranty.svg');
    background-repeat: no-repeat;
    background-position:  0 0;
}

.services-item:last-child h3::before {
    content: '';

    position: absolute;
    top: -12px;
    right: 70px;

    width: 156px;
    height: 188px;

    background-image: url('../img/index/credit.svg');
    background-repeat: no-repeat;
    background-position:  0 0;
}

.services-list p {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(70, 70, 70, 1);

    display: block;
    width: 440px;
    margin: 0;
    padding: 0;
}

.services-item:nth-child(2),
.services-item:last-child {
    display: none;
}

/* ------------ INDEX: BRANDS-------------*/

.brands ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    margin-bottom: 89px;
    padding: 0;
    list-style: none;
}

.brands img {
    width: 260px;
    height: 100px;
}

.brands a {
    display: block;
    position: relative;
}

.brands a::after {
    content: '';
    position: absolute;
    width: 260px;
    height: 100px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: none;
}


.brand-item:first-child a::after {
    background-image: url('../img/index/partner-logo-1.png');
}

.brand-item:nth-child(2) a::after {
    background-image: url('../img/index/partner-logo-2.png');

}

.brand-item:nth-child(3) a::after {
    background-image: url('../img/index/partner-logo-3.png');

}

.brand-item:last-child a::after {
    background-image: url('../img/index/partner-logo-4.png');

}


.brands a:hover::after,
.brands li:focus::after,
.brands li:active::after {
    display: block;
}


/* ------------ INDEX: ABOUT US + CONTACTS -------------*/

.style-wrapper h2 {
    font-size: 47.5px;
    font-weight: 800;
    line-height: 47.5px;
    letter-spacing: 0.48px;
    color:rgba(0, 0, 0, 1);
}

.about-us p,
.contacts p {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 1);
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.about-us-details {
    margin-bottom: 37px;
}

.about-us ul {
    padding-left: 35px;
    margin: 0;
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1);

    list-style: none;
}

.about-us li {
    position: relative;
}

.about-us li::before {
    content: '';
    position: absolute;
    top: 16px;
    left: -33px;


    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(229, 229, 229, 1)

}


.button {
    display: inline-block;

    min-width: 200px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;


    background: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 16px, rgba(240, 197, 46, 1) 16px, rgba(240, 197, 46, 1) 25px, rgba(255, 255, 255, 0) 25px);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 16px, rgba(240, 197, 46, 1) 16px, rgba(240, 197, 46, 1) 25px, rgba(255, 255, 255, 0) 25px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 16px, rgba(240, 197, 46, 1) 16px, rgba(240, 197, 46, 1) 25px, rgba(255, 255, 255, 0) 25px);

    border: none;
}

.button:hover,
.button:focus {
    background: #f0c52e;
    outline: none;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
    background: #f0c52e;
    outline: none;

}

.button-services:active {
    width: 100%;
    color: rgba(247, 225, 132, 1) ;
    background: rgba(0, 0, 0, 1);
    outline: none;

}


/* ------------ about us + contacts grid -------------*/


.style-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 11px;
}

.style-wrapper h2 {
    margin: 0;
    padding: 0;
}

.about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 477px;
    padding-bottom: 72px;
}

.about-us h2,
.contacts h2 {
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 53px;
    margin-bottom: 43px;

}

.about-us h2::before,
.contacts h2::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    width: 80px;
    height: 7px;

    background-color: rgba( 0, 0, 0, 1);

}

.contacts {
    width: 560px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.contacts-show-map {
    margin-top: 10px;
    margin-bottom: 61px;
}



/* ------------ FOOTER STYLES -------------*/

.main-footer {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 70, 70, 1);
}


.footer-left>a:hover,
.footer-left>a:focus {
    opacity: 0.6;
}

.footer-left>a:active {
    opacity: 0.3;
}

.main-footer a,
.footer-user-tabs a {
    color: rgba(255, 255, 255, 1);
}

.footer-user-tabs .log-out-footer {
    color: rgba(255, 255, 255, 0.3);
}


.footer-user-tabs a,
.footer-user-tabs a::before {
    opacity: 0.7;
}

.footer-user-tabs a:hover,
.footer-user-tabs a:focus,
.footer-user-tabs a:hover::before,
.footer-user-tabs a:focus::before {
    opacity: 1;
}

.footer-user-tabs a:active,
.footer-user-tabs a:active::before {
    opacity: 0.3;
}

.footer-user-tabs,
.main-footer .address,
.main-footer .tel {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;

    list-style: none;
}

footer .address,
footer .tel {
    line-height: 30px;
    letter-spacing: normal;
}

.footer-services,
.social {
    list-style: none;
}

.footer-services a {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
}


.footer-services a:hover,
.footer-services a:focus {
    color: rgba(255, 255, 255, 0.6);
}


.footer-services a:active {
    color: rgba(255, 255, 255, 0.3);
} 




/* ------------ footer grid -------------*/


.main-footer {
    margin: 0;
    min-height: 320px;
    padding-top: 65px;
    padding-bottom: 20px;
}

.main-footer .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 210px;
    margin-right: 114px;
}

.footer-left img {
    width: 163px;
    height: 35px;

    margin-bottom: 20px;
}


.footer-left p {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 75px;
}

.footer-left div {

    height: 7px;
    width: 80px;

    background-color: rgba(255, 198, 0, 1);
}

.footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 323px;

}

.footer-user-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    padding: 0;
    margin: 0;
    margin-top: -5px;
    margin-bottom: 32px;
}

.footer-user-tabs a {
    display: block;
    position: relative;
    padding-left: 25px;
}


.footer-user-tabs .log-in-footer::before,
.footer-user-tabs .user-name-footer::before {

    position: absolute;

    content: '';
    top: 12px;
    left: -1px;

    width: 13px;
    height: 12px;


    background-image: url('../img/footer/userpic-footer.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-user-tabs .compare-footer::before {
    position: absolute;

    content: '';
    top: 14px;
    left: 4px;

    width: 13px;
    height: 12px;

    background-image: url('../img/footer/compare-footer.svg');
    background-repeat: no-repeat;
    background-position: 0 0;

}


.footer-user-tabs .cart-footer::before {
    position: absolute;

    content: '';
    top: 12px;
    left: 3px;

    width: 13px;
    height: 12px;

    background-image: url('../img/footer/cart-footer.svg');
    background-repeat: no-repeat;
    background-position: 0 0;

}
.footer-user-tabs li:first-child {
    margin-right: 37px;

}

.footer-user-tabs li:nth-child(2) {
    margin-right: 37px;
}

.footer-user-tabs li:last-child {
    margin-right: 0;
}


.footer-user-tabs.authorized-user li:nth-child(2),
.footer-user-tabs.authorized-user li:nth-child(3) {
    margin-right: 37px;
}





.footer-right p {
    display: block;
    padding: 0;
    margin: 0;
}

.footer-right .created-by {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: auto;

    width: 27px;
    height: 35px;

    font-size: 0;

    background-image: url('../img/footer/html-logo-footer.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-right .created-by:hover,
.footer-right .created-by:focus {
    opacity: 0.6;
}

.footer-right .created-by:active {
    opacity: 0.3;
}

.footer-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 428px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-top: 71px;
    margin-bottom: 63px;
    padding: 0;
}




.footer-middle .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;

}

.social>li>a {
    display: block;
    font-size: 0;

    width: 32px;
    height: 32px;
    margin-right: 23px;

    border-radius: 50%;
    opacity: 0.3;

}

.social>li>a:hover,
.social>li>a:focus {
    opacity: 0.6;
}

.social>li>a:active {
    opacity: 0.1;
}

.social>li:last-child>a {
    margin-right: 0;
}

li .facebook {

    background-image: url('../img/footer/social-fb-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

li .instagram {

    background-image: url('../img/footer/social-instagram-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

li .twitter {

    background-image: url('../img/footer/social-twitter-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.authorized-user {
    position: relative;
}

.authorized-user .user-name-footer {
    position: absolute;
    left: -115px;
}

/* ------------ MODAL STYLES -------------*/

.modal-contact-us {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

.contact-us-form label {
    font-size: 17.5px;
    line-height: 24.5px;
    color: rgba(0, 0, 0, 1);
}

.contact-us-form input,
.contact-us-form textarea {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 1);

    background-color: rgba(242, 242, 242, 1);
    border: none;
}

.contact-us-form textarea {
    resize: none;
}

.contact-us-form input:hover,
.contact-us-form textarea:hover {
    background-color: rgba(234, 234, 234, 1);
    border: none;
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 1);

    background-color: rgba(255, 255, 255, 1);
    border: 3px solid rgba(240, 197, 46, 0.5);
    outline: none;
}


.contact-us-form input:invalid {
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);

    background-color: rgba(237, 181, 181, 0.5);
    border: none;
}


.contact-us-form input::-webkit-input-placeholder,
.contact-us-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);
}
.contact-us-form input::-moz-placeholder,
.contact-us-form textarea::-moz-placeholder, { /* Firefox 19+ */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);
}
.contact-us-form input:-ms-input-placeholder,
.contact-us-form textarea:-ms-input-placeholder { /* IE 10+ */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);
}
.contact-us-form input:-moz-placeholder,
.contact-us-form textarea:-moz-placeholder { /* Firefox 18- */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);
}

.contact-us-form input:hover::-webkit-input-placeholder,
.contact-us-form textarea:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);
}
.contact-us-form input:hover::-moz-placeholder,
.contact-us-form textarea:hover::-moz-placeholder { /* Firefox 19+ */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);
}
.contact-us-form input:hover:-ms-input-placeholder,
.contact-us-form textarea:hover:-ms-input-placeholder { /* IE 10+ */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);
}
.contact-us-form input:hover:-moz-placeholder,
.contact-us-form textarea:hover:-moz-placeholder { /* Firefox 18- */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 0.4);
}

.contact-us-form input:focus::-webkit-input-placeholder:focus,
.contact-us-form textarea:focus::-webkit-input-placeholder:focus { /* Chrome/Opera/Safari */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 1);
}
.contact-us-form input:focus::-moz-placeholder:focus,
.contact-us-form textarea:focus::-moz-placeholder:focus { /* Firefox 19+ */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 1);
}
.contact-us-form input:focus:-ms-input-placeholder:focus,
.contact-us-form textarea:focus:-ms-input-placeholder:focus { /* IE 10+ */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 1);
}
.contact-us-form input:focus:-moz-placeholder:focus,
.contact-us-form textarea:focus:-moz-placeholder:focus { /* Firefox 18- */
    font-family: 'open sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: normal;
    color: rgba(70, 70, 70, 1);
}

.modal-show-map img {
    -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
            box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

/* ------------ MODAL grids-------------*/

.modal-contact-us {
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -276px;


    display: block;
    width: 960px;
    height: 552px;

    padding-left: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 100px;
    -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
            box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

    display: none;

    
}

.contact-us-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact-us-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 2px;
}

.contact-us-first p,
.contact-us-second p {
    padding: 0;
    margin: 0;
}

.contact-us-form {
    position: relative;
}

.contact-us-form label {
    padding-left: 1px;
}

.contact-us-form input {
    width: 360px;
    height: 50px;
    margin-top: 10px;
    margin-right: 40px;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 19px;
    padding-right: 20px;
}


.contact-us-form textarea {
    width: 760px ;
    height: 156px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
}


.close-button {
    font-size: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;

    width: 55px;
    height: 55px;

    background-image: url('../img/index/modal-close.svg');
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.6;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    opacity: 1;
}

.close-button:active {
    opacity: 0.3;
}

.contact-us-form .close-button {
    position: absolute;
    top: -68px;
    right: -79px;

}


.modal-show-map {
    position: fixed;
    top: 50%;
    left: 50%;

    display: block;
    width: 960px;
    height: 560px;

    margin-top: -285px;
    margin-left: -480px;

    -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

            box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

    display: none;
}

.modal-show-map .close-button {
    position: absolute;
    top: 22px;
    right: 21px;
}

@keyframes appear {
    0% {opacity: 0;
        transform: translateX(-500px);
    }


    100% {opacity: 1;
        transform: translateX(0);
    }
}

@keyframes error {

    30% {
        transform: scale(0.9);
    }

    60% {
        transform:scale(1.05);
    }

    80% {
        transform:scale(0.95);
    }

}

.popup-show {
    display: block;
    animation-name: appear;
    animation-duration: 0.3s;
}

.popup-error {
    animation-name: error;
    animation-duration: 0.3s;
}
}